<div class="row">
  <div class="text-center"><h1 style="font-family: cursive;">EXPERIENCIA LABORAL</h1></div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
      Nueva Experiencia
    </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">


    <table class="table text-white">
      <tbody>
         <tr *ngFor="let Experiencia of expe">
           <td>
           <h2>{{Experiencia.nombreE}}</h2>
           </td>
           <td>{{Experiencia.descripcionE}}</td>
           <td *ngIf="isLogged">
             <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
             <i class="bi bi-pencil-square"></i>EDITAR
             </button>
           </td>
           <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                 <i class="bi bi-trash-fill"></i>
              </button>
           </td>
         </tr>
      </tbody>
    </table>




  </div>
</div>











<div class="container py-4">
 <div class="text-center"><h1 style="font-family: cursive;">EXPERIENCIA LABORAL</h1></div>

 <article class="postcard dark green align-items-center">
   <a class="postcard__img_link" >
     <img class="postcard__img" src="assets/banner/continuum.png" alt="Image Title" style="width: 350px" />
   </a>
   <div class="postcard__text text-center">
     <h1 class="postcard__title green"><a style="font-family: cursive;" >Agente Tecnico y Gestión Comercial</a></h1>

     <div class="postcard__bar">Analizar, gestionar e indagar la información del cliente, detectar necesidades,
       informar sobre detalles y ventajas  del servicio que el cliente está adquiriendo, confirmar y coordinar
       la visita técnica para la instalación del servicio con el cliente.
     </div>
     <div class="postcard__preview-txt"></div>
     <ul class="postcard__tagbox text-start">
       <li>2019 - 2020</li>
       <li>Ciudad de Córdoba - Córdoba</li>
     </ul>
   </div>
 </article>

 <article class="postcard dark green align-items-center">
   <a class="postcard__img_link" >
     <img class="postcard__img" src="assets/banner/profesor.jpg" alt="Image Title" style="width: 350px" />
   </a>
   <div class="postcard__text text-center">
     <h1 class="postcard__title green"><a style="font-family: cursive;" >Profesor particular</a></h1>

     <div class="postcard__bar">
     </div>
     <div class="postcard__preview-txt">Detectar y analizar cuál es el problema en el proceso de aprendizaje del alumno/a para poder afrontarlo de la mejor manera, teniendo en cuenta el nivel educativo que este cursando: Nivel Primario, Secundario,
       Profesorado o Universitario, y el área en cuestión: Física, Matemática o Química. Adaptar el conocimiento a las distintas complejidades que el alumno este enfrentado es fundamental para poder transmitir nuevos conocimientos.
     </div>
     <ul class="postcard__tagbox">
       <li>2012 - Presente</li>
       <li>Ciudad de Córdoba - Córdoba</li>

     </ul>
   </div>
 </article >

 <article class="postcard dark green align-items-center">
   <a class="postcard__img_link" >
     <img class="postcard__img" src="assets/banner/tecnico.jpg" alt="Image Title" style="width: 350px" />
   </a>
   <div class="postcard__text text-center">
     <h1 class="postcard__title green"><a style="font-family: cursive;" >Servicio Tecnico</a></h1>

     <div class="postcard__bar">Mantenimiento y reparación de aparatos electrónicos, estabilizadores, celulares,
       tablets, notebooks y computadoras de escritorio.
     </div>
     <div class="postcard__preview-txt"></div>
     <ul class="postcard__tagbox">
       <li>2012 - 2015</li>
       <li>Ciudad de Córdoba - Córdoba</li>
     </ul>
   </div>
 </article>

</div>


