<div class="container py-4">
  <div class="text-center"><h1 style="font-family: cursive;">EDUCACIÓN</h1></div>

  <!--<article class="postcard dark red">
   <a class="postcard__img_link" href="#">
     <img class="postcard__img" src="" alt="Image Title" style="height: 350px" />
   </a>
   <div class="postcard__text">
     <h1 class="postcard__title red"><a href="#">Podcast Title  1</a></h1>
     <div class="postcard__subtitle small">
       <time datetime="2020-05-25 12:00:00">
         <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
       </time>
     </div>
     <div class="postcard__bar"></div>
     <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
     <ul class="postcard__tagbox">
       <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
       <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
       <li class="tag__item play red">
         <a href="#"><i class="fas fa-play mr-2"></i>Play Episode 1</a>
       </li>
     </ul>
   </div>
 </article>-->
  <article class="postcard dark green align-items-center">
    <a class="postcard__img_link" >
      <img class="postcard__img" src="assets/banner/fcefyn1.jpeg" alt="Image Title" style="width: 350px" />
    </a>
    <div class="postcard__text text-center">
      <h1 class="postcard__title green"><a style="font-family: cursive;" >Estudiante avanzado de Ingeniería Electrónica</a></h1>

      <div class="postcard__bar">Ingeniería Electrónica, Facultad de Ciencias Exactas Físicas y Naturales, Universidad Nacional de Córdoba.
      </div>
      <ul class="postcard__tagbox text-start">
        <li>2012 - Presente</li>
        <li>Ciudad de Córdoba - Córdoba</li>
      </ul>
    </div>
  </article>

  <article class="postcard dark green align-items-center">
    <a class="postcard__img_link" >
      <img class="postcard__img" src="assets/banner/esc-normal.jpg" alt="Image Title" style="width: 350px" />
    </a>
    <div class="postcard__text text-center">
      <h1 class="postcard__title green"><a style="font-family: cursive;" >Nivel Secundario Bachiller Común</a></h1>
      <div class="postcard__preview-txt">Bachiller Común, Escuela Normal Superior “Gendarmería Nacional”.
      </div>
      <ul class="postcard__tagbox text-start">
        <li>2004 - 2008</li>
        <li>La Quiaca - Jujuy</li>

      </ul>
    </div>
  </article >

  <article class="postcard dark green  align-items-center ">
    <a class="postcard__img_link" >
      <img class="postcard__img" src="assets/banner/esc86.jpg" alt="Image Title" style="width: 350px" />
    </a>
    <div class="postcard__text" style="padding-left: 75px;">
      <h1 class="postcard__title green text-center "><a style="font-family: cursive;" >Nivel Primario</a></h1>
      <div class="postcard__preview-txt ">   Escuela N°86 Hipólito Irigoyen</div>
      <ul class="postcard__tagbox text-start">
        <li>1996 - 2003</li>
        <li>La Quiaca - Jujuy</li>

      </ul>
    </div>
  </article>

</div>
