


  <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="assets/logosPI/fotoperfil.jpg" id="foto" class="img-fluid">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-3 col-lg-4" id="nombre">
       <p class="fs-5"> Castro Rafael Armando</p>
        <p class="fs-5"> Full Stack Developer Jr</p>
       </div>

    <div class="col-xs-12 col-sm-2 col-md-6 col-lg-8">
      <span>
        <h1>
          ACERCA DE MI
        </h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Corporis illum incidunt voluptatibus. Aspernatur eveniet
          illo illum impedit iusto maiores maxime minus reiciendis
          rerum veritatis. Distinctio dolorem hic itaque laborum maiores.
        </p>
      </span>
    </div>
  </div>
