<div class="row">
  <h1>Proyectos realizados</h1>
    <div class="container">
     <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>Proyecto 1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut incidunt, nulla repellat repellendus sit!
          A, autem, commodi corporis delectus eaque, in libero non odit quas rem sunt suscipit vero!</p>
     </div>
     <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="assets/banner/parte1.jpg" alt="" class="img-fluid img-proyecto">
     </div>
  </div>
</div>

<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h1>Proyecto 2</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut incidunt, nulla repellat repellendus sit!
        A, autem, commodi corporis delectus eaque, in libero non odit quas rem sunt suscipit vero!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="assets/banner/parte2.jpg" alt="" class="img-fluid img-proyecto">
    </div>
  </div>
</div>

<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="container">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h1>Proyecto 3</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut incidunt, nulla repellat repellendus sit!
        A, autem, commodi corporis delectus eaque, in libero non odit quas rem sunt suscipit vero!</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="assets/banner/parte3.jpg" alt="" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
