
<body class="card mb-3">
<main class="form-signin m-auto">
  <img class="" src="/assets/logosPI/argprograma.png" alt="" id="logoLogin">
<div class="container">
  <div class="row">

      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombre" class="text-white">Nueva Skill</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div class="form-group">
          <label for="porcentaje" class="text-white">Porcentaje</label>
          <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
        </div>
        <br>
        <button class="btn ov-btn-slide-close btn-primary" style="width: 100%;">
          AGREGAR
        </button>
      </form>

  </div>
</div>
</main>
</body>
